JWT_SECRET=change-me
DB_URI=mongodb://localhost:27017/finance_module
PORT=5001
CLIENT_URL=http://localhost:5173
MARKET_DATA_API_KEY=
MARKET_DATA_URL=https://www.alphavantage.co/query
MARKET_FEED_MODE=demo
MARKET_QUOTE_SYMBOLS=Nifty 50|NSEI,Sensex|BSESN,Bank Nifty|NSEBANK,USD/INR|USDINR
MARKET_NEWS_TOPICS=financial_markets
